Repository serge-chat/serge, pull requests merged in 2023-09, with the labels that each got.

#681 Add support for WizardCoder-Python-13B-V1.0-GGML
  README.md
  api/src/serge/data/models.json
Labels: models

#683 Split Docker build into separate CI job, Support for Node 20
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  Dockerfile
  Dockerfile.dev
Labels: dependencies, github_actions

#691 Update Issue Templates and workflows
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/helm-test.yml
  .github/workflows/model-check.yml
Labels: 📒 Documentation

#707 UI/UX Improvements
  api/src/serge/routers/chat.py
  web/src/app.css
  web/src/lib/stores.ts
  web/src/routes/+layout.svelte
  web/src/routes/+page.svelte
  web/src/routes/chat/[id]/+page.svelte
  web/src/routes/models/+page.svelte
  web/static/css/github-dark.css
  web/static/css/github.css
Labels: 🌐 Web, ✏️ Feature

#709 fix: Save full text response when using API
  api/src/serge/routers/chat.py
Labels: :gear: API, ☢️ Bug

#710 UI: Code block fixes
  web/src/app.css
  web/src/routes/chat/[id]/+page.svelte
Labels: 🌐 Web, ☢️ Bug

#727 Enhance Signal Handling for Graceful Termination
  scripts/deploy.sh
Labels: ☢️ Bug

#732 Remove deprecated 'n_gqa' field for LlaMA.cpp
  api/src/serge/models/chat.py
  api/src/serge/routers/chat.py
  api/src/serge/utils/llm.py
  web/src/routes/+page.svelte
  web/src/routes/chat/[id]/+page.svelte
  web/src/routes/chat/[id]/+page.ts
Labels: 🧹 Updates

#728 Fix newline input bug and display placeholder text in input box
  web/src/routes/chat/[id]/+page.svelte
Labels: ☢️ Bug

#735 Removing `n_gqa` leftovers
  web/src/routes/+layout.svelte
Labels: 🌐 Web, 🧹 Updates

#738 Adding Marx-3B-V2 GGML model
  api/src/serge/data/models.json
Labels: :brain: Model, 🧹 Updates

#739 Add missing gpu_layers param
  web/src/routes/+layout.svelte
  web/src/routes/chat/[id]/+page.svelte
Labels: 🌐 Web, ☢️ Bug

#740 Update Release Drafter workflow
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: 🧹 Updates

#755 Add support for latest debian release
  .github/release-drafter.yml
  .github/workflows/model-check.yml
  Dockerfile
  Dockerfile.dev
  LICENSE
  README.md
Labels: ✏️ Feature, 📒 Documentation

#756 Add support for using dynamic threads
  api/src/serge/models/chat.py
  api/src/serge/routers/chat.py
  api/src/serge/utils/llm.py
  web/src/routes/+layout.svelte
  web/src/routes/+page.svelte
  web/src/routes/chat/[id]/+page.svelte
  web/src/routes/chat/[id]/+page.ts
Labels: ✏️ Feature

#763 Fix llama-cpp-python build for Apple Silicon
  scripts/deploy.sh
  scripts/dev.sh
Labels: ☢️ Bug
