Repository serge-chat/serge, pull requests merged in 2023-12, with the labels that each got.

#921 Add support for TII Falcon and Meditron LLM's
  README.md
  api/src/serge/data/models.json
Labels: ✏️ Feature, 📒 Documentation

#926 Add support for Neural-Chat, OpenChat, Orca 2, and OpenLLaMa v2, Starling LM
  README.md
  api/src/serge/data/models.json
Labels: ✏️ Feature, 📒 Documentation

#929 Add support for Med42 and PsyMedRP
  README.md
  api/src/serge/data/models.json
Labels: ✏️ Feature, 📒 Documentation

#931 Update README.md
  README.md
Labels: 🧹 Updates, 📒 Documentation

#932 Update release-drafter autolabeler
  .github/release-drafter.yml
Labels: 🧹 Updates

#933 Cleanup LLM names
  README.md
  api/src/serge/data/models.json
Labels: 📒 Documentation, 🧠 Models

#935 Upgrade for Neural-Chat from v3.1 to v3.2
  README.md
  api/src/serge/data/models.json
Labels: 📒 Documentation, 🧠 Models

#937 Add support for Notus LLM
  README.md
  api/src/serge/data/models.json
Labels: 📒 Documentation, 🧠 Models

#943 Model bugfix
  api/src/serge/data/models.json
Labels: ☢️ Bug, 🧠 Models

#945 Fix file sizes of LLM's
  README.md
  api/src/serge/data/models.json
Labels: 🧹 Updates, ☢️ Bug, 📒 Documentation, 🧠 Models

#959 Add Zephyr 3B Model
  README.md
  api/src/serge/data/models.json
Labels: 📒 Documentation, 🧠 Models

#960 Add Python-Code 13B and 33B
  README.md
  api/src/serge/data/models.json
Labels: 📒 Documentation, 🧠 Models

#963 Updates to CodeLLaMA models
  README.md
  api/src/serge/data/models.json
Labels: 🧹 Updates, 📒 Documentation, 🧠 Models

#964 Add Vicuna 33B model
  README.md
  api/src/serge/data/models.json
Labels: 📒 Documentation, 🧠 Models

#965 Add Vicuna 33B-Coder and LLaMA-2 7B-Coder models
  README.md
  api/src/serge/data/models.json
Labels: 📒 Documentation, 🧠 Models

#982 Update llama-cpp-python to v0.2.23
  scripts/serge.env
Labels: 🧹 Updates

#976 Update Neural Chat, Mistral models and add Code 13B, 33B, Meditron 7B-Chat, Mixtral 8x7B LLMs
  README.md
  api/src/serge/data/models.json
Labels: 🧹 Updates, 📒 Documentation, 🧠 Models

#983 Update OpenChat v3.5, Add Medalpaca 13B
  README.md
  api/src/serge/data/models.json
Labels: 🧹 Updates, 📒 Documentation, 🧠 Models

#985 Refactor of Models API, Support for calling downloads
  api/src/serge/routers/model.py
  web/src/routes/models/+page.svelte
Labels: 🧹 Updates

#986 Fix aiohttp timeout settings
  api/src/serge/routers/model.py
Labels: ☢️ Bug

#1015 Update llama-cpp-python to v0.2.25
  scripts/serge.env
Labels: 🧹 Updates

#1016 Fix inefficent model check during chat creation
  api/src/serge/routers/chat.py
Labels: ☢️ Bug

#1020 Update llama-cpp-python to v0.2.26
  scripts/serge.env
Labels: 🧹 Updates
