Repository serge-chat/serge, pull requests merged in 2023-08, with the labels that each got.

#500 Add Kubernetes helm charts for serge
  .github/workflows/helm-test.yml
  charts/README.md
  charts/serge/.helmignore
  charts/serge/Chart.yaml
  charts/serge/templates/NOTES.txt
  charts/serge/templates/_helpers.tpl
  charts/serge/templates/deployment.yaml
  charts/serge/templates/ingress.yaml
  charts/serge/templates/pvc.yaml
  charts/serge/templates/service.yaml
  charts/serge/templates/serviceaccount.yaml
  charts/serge/templates/tests/test-connection.yaml
  charts/serge/values.yaml
  docs/index.html
  docs/index.yaml
  docs/serge-0.1.0.tgz
  scripts/deploy-helm-chart.sh
Labels: processes, enhancement, github_actions

#626 Feature: add theme selector light/dark
  web/src/routes/+layout.svelte
  web/tailwind.config.cjs
Labels: enhancement, web

#627 Fix incorrectly space "Create a new chat" button on smaller screens.
  web/src/routes/+page.svelte
Labels: web

#653 Update llama-cpp-python to v0.1.78
  scripts/deploy.sh
  scripts/dev.sh
Labels: dependencies
