Repository serge-chat/serge, pull requests merged in 2024-02, with the labels that each got.

#1062 Update llama-cpp-python to v0.2.38
  scripts/deploy.sh
  scripts/dev.sh
  scripts/serge.env
Labels: 🧹 Updates

#1113 Update README.md
  README.md
Labels: 🧹 Updates, 📒 Documentation

#1119 Update Llama cpp python from 0.2.38 to 0.2.39
  scripts/serge.env
Labels: 🧹 Updates

#1056 Add GPU support
  scripts/deploy.sh
  scripts/dev.sh
  scripts/serge.env
Labels: 📒 Documentation, 🧠 Models

#1132 Update NodeJS dependencies
  web/package-lock.json
  web/package.json
Labels: 🧹 Updates, 🤖 Dependencies

#1133 Update llama-cpp-python to v0.2.41
  scripts/serge.env
Labels: 🧹 Updates

#1136 Updates to UI components, cleanup of unused dependencies
  .github/workflows/ci.yml
  api/poetry.lock
  api/pyproject.toml
  scripts/dev.sh
  web/src/app.css
  web/src/routes/+layout.svelte
  web/src/routes/+page.svelte
  web/src/routes/chat/[id]/+page.svelte
  web/src/routes/models/+page.svelte
Labels: 🧹 Updates, 🤖 Dependencies

#1137 Update llama-cpp-python
  scripts/deploy.sh
  scripts/dev.sh
  scripts/serge.env
Labels: 🧹 Updates

#1138 Update llama-cpp-python
  scripts/deploy.sh
  scripts/dev.sh
  scripts/serge.env
Labels: 🧹 Updates

#1154 Models update
  README.md
  api/src/serge/data/models.json
  scripts/serge.env
Labels: 🧹 Updates, 📒 Documentation, 🧠 Models

#1153 Fix ipv4/ipv6 modes
  scripts/deploy.sh
  scripts/dev.sh
  scripts/serge.env
Labels: ☢️ Bug

#1156 Add support for BioMistral, Nous-Hermes-2-Mistral and Nous-Hermes-2-Mixtral
  README.md
  api/src/serge/data/models.json
Labels: 📒 Documentation, 🧠 Models

#1158 Update Gemma Models
  README.md
  api/src/serge/data/models.json
Labels: 🧹 Updates, 📒 Documentation, 🧠 Models

#1165 Add support for OpenCodeInterpreter models
  README.md
  api/src/serge/data/models.json
Labels: 📒 Documentation, 🧠 Models
