Repository serge-chat/serge, pull requests merged in 2024-06, with the labels that each got.

#1334 Add support for newer LLM models
  README.md
  api/poetry.lock
  api/src/serge/data/models.json
Labels: 🧹 Updates, 📒 Documentation, 🧠 Models

#1345 Update requirements.txt
  vendor/requirements.txt
Labels: 🧹 Updates

#1344 Update schema.json
  api/src/serge/schema/schema.json
Labels: 🧹 Updates

#1347 Support for caching Python dependencies during CI workflows
  .github/workflows/ci.yml
Labels: 🧹 Updates

#1357 fix Issue with UI sidebar
  web/src/routes/+layout.svelte
Labels: ☢️ Bug

#1359 Bump llama-cpp-python to v0.2.79
  scripts/serge.env
Labels: 🤖 Dependencies
