Repository serge-chat/serge, pull requests merged in 2024-01, with the labels that each got.

#1026 Add Mixtral 2.7, MedicineLLM, MistralLite, and Notux
  README.md
  api/src/serge/data/models.json
Labels: 🧠 Models

#1029 Update README.md
  README.md
Labels: 🧹 Updates, 📒 Documentation

#1030 Add support for Phi 2
  README.md
  api/src/serge/data/models.json
Labels: 📒 Documentation, 🧠 Models

#1032 Migrate to SvelteKit v2
  web/package-lock.json
  web/package.json
  web/svelte.config.js
Labels: 🧹 Updates

#1046 Update OpenChat model version
  api/src/serge/data/models.json
Labels: 🧠 Models

#1053 Update the information displayed via tooltips
  web/src/routes/+page.svelte
Labels: 🧹 Updates

#1054 Update documentation, Add titles to sections
  README.md
  docker-compose.dev.yml
  web/package-lock.json
  web/package.json
  web/src/routes/chat/[id]/+page.svelte
Labels: 🧹 Updates, 📒 Documentation

#1074 Fix ipv6 support conditional check
  scripts/deploy.sh
Labels: ☢️ Bug

#1075 Add support for sidebar menu
  web/src/routes/+layout.svelte
Labels: ☢️ Bug
